.Column-Name {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    color: black;
}

.Column-Invite {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;

    color: #2B2D35;
}

.Column-Invite:hover {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;

    color:#8B00FF;
}