.ProfilePage {
    box-sizing: border-box;
    background-color: #13181B;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}

.Prof-Text {
    margin-top: 0;
    display: flex;
    justify-content: start;
    align-content: center;
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 5%;
}

.Prof-Container {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.Prof-Form {
    background-color: #EDB852;
    margin: 0;
    width: 40%;
    padding: 2em 3em;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}
